<h1>Reportes </h1>


<div class="row">
    <div class="col-xs-6 col-md-4">

        <div class="panel status panel-danger">
            <div class="panel-heading">
                <h1 class="panel-title text-center"><%= @total %></h1>
            </div>
            <div class="panel-body text-center">
                <strong>Propiedades</strong>
            </div>
        </div>

    </div>
    <div class="col-xs-6 col-md-4">

        <div class="panel status panel-warning">
            <div class="panel-heading">
                <h1 class="panel-title text-center"><%= @venta %></h1>
            </div>
            <div class="panel-body text-center">
                <strong>Venta</strong>
            </div>
        </div>

    </div>
    <div class="col-xs-6 col-md-4">

        <div class="panel status panel-success">
            <div class="panel-heading">
                <h1 class="panel-title text-center"><%= @renta %></h1>
            </div>
            <div class="panel-body text-center">
                <strong>Renta</strong>
            </div>
        </div>


    </div>
</div>
