<div class="container pt-4 text-center">
  <div>
    <h1>Contáctanos</h1>
  </div>
  <div class="row align-items-center">
    <div class="col-12 col-md-6">
      <div class="row">
        <span style="font-size: 150%">Horarios de oficina:</span>
      </div>
      <div class="row">
        <span style="font-size: 125%"> Lunes-Jueves: </span>
      </div>
      <div class="row">
        <span style="font-size: 125%"> 9:00 a.m. - 1:30 p.m. y 2:30 p.m. - 7:00 p.m. </span>
      </div>
      <div class="row">
        <span style="font-size: 125%"> Viernes: </span>
      </div>
      <div class="row">
        <span style="font-size: 125%"> 9:00 a.m. - 1:30 p.m. y 4:00 p.m. - 7:00 p.m. </span>
      </div>
      <div class="row">
        <span style="font-size: 125%"> Sábado: </span>
      </div>
      <div class="row">
        <span style="font-size: 125%"> 10:00 a.m. - 2:00 p.m. </span>
      </div>
      <div class="row">
        <span style="font-size: 125%"> Domingo: </span>
      </div>
      <div class="row">
        <span style="font-size: 125%"> Cerrado </span>
      </div>
    </div>
    <div class="col-12 col-md-6 py-4">
      <div>
        <span style="font-size: 150%"><i class="fas fa-phone"></i> 81 8040 4080</span>
      </div>
      <div>
        <span style="font-size: 150%"><i class="fas fa-envelope"></i><a style="color: black" href="mailto:asesores@realtyworldfama.com"> asesores@realtyworldfama.com</a></span>
      </div>
      <div>
        <span style="font-size: 150%;"><i class="fab fa-facebook-square"></i><a style="color: black" href="https://www.facebook.com/RWFAMA/?hc_ref=ARQhE2jsss0AseQSqgVoRnHKETmVSnqIwpldqfd7_GNqXKEGbeqx2j9ymg5mLEO5CBE&fref=nf&__tn__=kC-R"> facebook.com/RWFama</a></span>
      </div>
    </div>
  </div>
</div>

<div class="position-relative overflow-hidden m-md-3 text-center bg-light">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d899.2399393658328!2d-100.2714720707567!3d25.639461098980785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662bf9ad8b41fc5%3A0x9c3b7bc897e492aa!2sRealty%20World%20Fama%20Inmuebles!5e0!3m2!1ses-419!2smx!4v1589302771557!5m2!1ses-419!2smx" width="100%" height="450" frameborder="0" style="border:0;"></iframe>
</div>

<% if false %>
<div class="container text-center">
  <div class="row">
    <h2>Contactanos</h2>
  </div>
  <form class="form-horizontal" action="" method="post">
            <fieldset>


              <!-- Name input-->
              <div class="form-group">
                <div class="col-md-9">
                  <input id="name" name="name" type="text" placeholder="Nombre" class="form-control">
                </div>
              </div>

              <!-- Email input-->
              <div class="form-group">
                <div class="col-md-9">
                  <input id="email" name="email" type="text" placeholder="Email" class="form-control">
                </div>
              </div>

              <!-- Message body -->
              <div class="form-group">
                <div class="col-md-9">
                  <textarea class="form-control" id="message" name="message" placeholder="Introduce tu mensaje aquí..." rows="5"></textarea>
                </div>
              </div>

              <!-- Form actions -->
              <div class="form-group">
                <div class="col-md-12 text-right">
                  <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                </div>
              </div>
            </fieldset>
            </form>
<%end%>
</div>
