<div class="text-center border pt-3 pb-3">
  <span class="lead"><%= @agent.full_name %></span>
  <p><%= @agent.email %></p>
  <button class="btn btn-success">Llamar</button>
  <button class="btn btn-info">Email</button>
</div>
